@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald-bold.woff2') format('woff2'),
        url('/assets/fonts/oswald-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/roboto-condensed-bold-italic.woff2') format('woff2'),
        url('/assets/fonts/roboto-condensed-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
