@import 'tachyons';
@import 'fonts.css';

:root {
    --color-main: #b8cd1c;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.bg-main {
    background-color: var(--color-main);
}

.gradient-1 {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 65%);
}

.hide {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-shadow-1 {
    text-shadow: 0 0 10px #000;
}

.user-image {
    height: 1500px;
    width: 1200px;
}

.fb-xfbml-parse-ignore {
    text-decoration: none;
    background-color: #3b5998;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-top: 16px;
}

.twitter-share-button {
    text-decoration: none;
    background-color: #00aced;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-top: 16px;
}
